:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.card-title {
  font-size: xx-large;
}

.card-text {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.btn-primary {
  background: #6c63ff;
  border: 1px solid var(--primary-color);
  transition: 100ms ease-in-out;
}

.about-paragraphs {
  margin: 30px 0;
  text-align: center;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  transition: 100ms ease-in-out;
}

.email-link:hover {
  color: #e60a09;
  text-decoration: underline;
}

.rounded {
  border-radius: 0.25rem !important;
}

.contact-link:hover,
.about-link:hover,
.btn-primary:hover {
  border: none;
  color: white;
  background-image: linear-gradient(to right,
      #e7484f,
      #e7484f 16.65%,
      #f68b1d 16.65%,
      #f68b1d 33.3%,
      #fced00 33.3%,
      #fced00 49.95%,
      #009e4f 49.95%,
      #009e4f 66.6%,
      #00aac3 66.6%,
      #00aac3 83.25%,
      #732982 83.25%,
      #732982 100%,
      #e7484f 100%);
  animation: slidebg 3s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.container {
  min-width: 350px;
}

@media (max-width: 576px) {
  .about-me-mobile {
    font-size: 70px;
    line-height: 1.5;
  }

  .card-text,
  .card-title {
    text-align: center;
  }

  .btn-primary {
    box-shadow: var(--box-shadow);
    display: block;
    width: 100%;
  }
}